DATABASE_URL="mongodb+srv://airbnb:airbnb@cluster0.bdng7kk.mongodb.net/abnb"
NEXTAUTH_SECRET="NEXTAUTH_SECRET"
GITHUB_ID=59cb14522c338c0db99b
GITHUB_SECRET=c6f81f0d84670d1d1891a1b7ea0fa602639b2568
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dpcdm4lhl"